{% extends "main/base.html" %}

{% block title %}Задачи{% endblock title %}  

{% block content %}
    {% for task in tasks %}
        <div class="list-group">
        <a href="{{task.get_absolute_url}}" class="list-group-item list-group-item-action active" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ task.name }}</h5>
            <small>{{ task.created|date:"d.m.Y, H:i, e"}}</small>
            </div>
            <p class="mb-1">{{ task.description }}</p>
            <small>Приоритет: {{ task.priority }}</small>
            {% if task.completed %}
            <small>Статус: Выполнено</small>
            {% else %}
            <small>Статус: В работе</small>
            {% endif %}
        </a>
        </div>
    {% endfor %}
{% endblock content %}